body {
 	 background-color: #f5f5f7;
 	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
  	font-size: 1em;
  	color: #636363;
}
h1, h2, h3, h4, h5, h6 {
    	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    	font-weight: 700;
 }
.text-center{
	text-align: center;
}
input[type="number"] {
  padding: 10px;
  border: solid 1px gainsboro;
  font-size: 15px;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="number"]:focus, input[type="number"].focus {
  border: solid 1px #707070;
   font-size: 15px;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;    
}
button{
    width: 100px;
    height: 38px;
    color: #555555;
    font-size: 20px;
}